body {
    background-image: url("ss212513.png");
    background-repeat: repeat-y;
    background-size: cover;
    color: rgb(199, 197, 197);
}
    

.header{

}
.body-container{

}
.footer{

}
.mb-10
.image-gamut-fix{
    filter: saturate(0.5);
}
